# MacOS
.DS_Store

# Environment files
.env
.env.test

# Editor configs
.idea/
.vscode/
*.swp

# Global Python / Node cache
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
dist/

# Auxiliary scripts
reset_demo.sh