# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Poetry
poetry.lock

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Frontend (Vue)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# IDE
.idea/
*.iml*

backend/test.db
backend/.coverage