[flake8]
max-line-length = 128

extend-ignore =
    E203,
    W503,
    B008

select = B,C,E,F,W,T4,B9

exclude =
    .venv,
    __pycache__,
    .git,
    .mypy_cache,
    .pytest_cache,
    build,
    dist,
    migrations
