# Python
__pycache__/
.pytest_cache
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Alembic
migrations/versions/

# Poetry
poetry.lock

# Database files
*.sqlite3
*.db
test.db

# Local files
.coverage
.python-version
coverage/
htmlcov/
